@model EquipmentManagement.Models.Product

@{
    ViewData["Title"] = "Delete";
}
<div class="bg-white p-3 rounded-3 w-100 flex-grow-1 mb-2 mt-2 d-flex flex-column align-items-center justify-content-center">

<h1 class="text-center">Jesteś pewny że chcesz to usunąć?</h1>
<div class="mt-2">
    <h4 class="text-center">Produkt do usunięcia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-12 text-center">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-12 text-center">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-12 text-center">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-12 text-center">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-12 text-center">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class = "col-12 text-center">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class = "col-12 text-center">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-12 text-center">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-12 text-center">
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd class = "col-12 text-center">
            @Html.DisplayFor(model => model.Availability)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex justify-content-center mt-2">
        <input type="submit" class="btn btn-danger" value="Usuń"/>
        </div>
        <div class="d-flex justify-content-center mt-2">
            <a class="btn btn-outline-primary" asp-action="Index">Wróć do listy</a>
        </div>  
    </form>
</div>
</div>
