@model IEnumerable<EquipmentManagement.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="bg-white p-3 rounded-3 w-100 flex-grow-1 mb-2 mt-2">
<div class="container-fluid d-flex justify-content-between">
<div>
    @Html.ActionLink("Utwórz nowy", "Create", "Products",null,new {@class="btn btn-primary"})
</div>
@using (Html.BeginForm("Index","Products",FormMethod.Post,new { @class="d-flex w-auto" }))
{
        @Html.TextBox("SearchString",null,new { @class="form-control me-2", @placeholder = "Szukaj po nazwie", @type="Search" })
        <button class="btn btn-primary" type="submit">Szukaj</button>
}
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Nazwa", "Index", new { sortOrder = ViewBag.NameSortParm})
            </th>
            <th>
                @Html.ActionLink("Typ", "Index", new { sortOrder = ViewBag.TypeSortParm})
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                <div class="btn-group btn-group-sm" role="group">
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
